doctype html
html
  head
    title Error
    link(rel="stylesheet", href="/reset.css")
    link(href="https://vjs.zencdn.net/7.8.4/video-js.css", rel="stylesheet")
    link(rel="stylesheet", href="/video.css")
  body
    h1 Error
    p
      | #{message}
