doctype html
html
  head
    title Movies
    link(rel="stylesheet", href="/reset.css")
    link(href="https://vjs.zencdn.net/7.8.4/video-js.css", rel="stylesheet")
    link(rel="stylesheet", href="/video.css")
  body
    h1 Movies
    ul
      each video in videos
        li(class="videoitem")
          a(href="/watch?video=" + encodeURIComponent(video), class="videolink")
            | #{video}