doctype html
head
  meta(charset='utf-8')
  link(rel='stylesheet' href='/reset.css')
  link(href='https://vjs.zencdn.net/7.8.4/video-js.css' rel='stylesheet')
  link(rel='stylesheet' href='/video.css')
  title= videoFile
#confirm
  #confirm-flex
    h1#confirm-title Click the button below to join
    button#confirm-button(onclick='confirm()') Join
h1= videoFile
video#videojs-player.video-js.vjs-fluid(controls='' preload='auto' poster='#' data-setup='{}')
  source(src='/video?file=' + encodeURIComponent(videoPath), type='video/mp4')
  each subtitle in subtitles
    track(kind='captions', src="/subtitle?file=" + encodeURIComponent(subtitle.file), srclang=subtitle.languageShort, label=subtitle.language)
      //- | #{subtitle.file}
    //- track(kind='captions', src=encodeURIComponent(subtitle.file), srclang=subtitle.languageShort, label=subtitle.language)
  //- track(kind='captions' src='/video/video.en.vtt' srclang='en' label='English' default='')
  //- track(kind='captions' src='/video/video.nl.vtt' srclang='nl' label='Nederlands' default='')
  p.vjs-no-js
    | To view this video please enable JavaScript, and consider upgrading to a
    | web browser that
    a(href='https://videojs.com/html5-video-support/' target='_blank') supports HTML5 video
div
  h3 How does it work?
  p
    | Play/pause and changing the progress bar are synced between all viewers.
    | Volume and subtitles (or turning off subtitles) is not synced so you can
    | set those however you like.
  h3
    | Your name: 
    span.user-name
  h3 Others
  ul#others-list
script(src='/jquery-3.5.1.min.js')
script(src='https://vjs.zencdn.net/7.8.4/video.js')
script(src='/video.js')
//- each subtitle in subtitles
//-     track(kind='captions', src="/subtitle?file=" + encodeURIComponent(subtitle.file), srclang=subtitle.languageShort, label=subtitle.language)
