html {
	background-color: #333;
	color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
}

body {
	margin: 10pt;
}

h3 {
	font-size: 18pt;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

h1 {
	font-size: 36pt;
	margin-bottom: 16pt;
	margin-top: 16pt;
}

#confirm {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
}

#confirm-flex {
	width: 100%;
	height: 100%;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
}

#confirm-title {
	font-size: 36pt;
	margin-bottom: 16pt;
}

#confirm-button {
	background-color: #33cc33;
	border: none;
	border-radius: 3%;
	padding: 12pt;
	color: #eee;
	font-size: 20pt;
}

#confirm-button:hover {
	background-color: #33aa33;
}

#videojs-player {
	/* width: 60%; */
	margin-bottom: 10pt;
}

#others-list {
	list-style: disc inside;
}

li.videoitem {
	margin-bottom: 10pt;
}

li.videoitem a.videolink {
	color: white;
	text-decoration: none;
	font-size: 16pt;
}

li.videoitem a.videolink:hover {
	color: #aaa;
}
